{% extends 'layout.html.twig' %}

{% block stylesheet %}
	{{ parent() }}
	<link rel="stylesheet" href="assets/css/cards.css">
{% endblock %}

{% block content %}
	<section class="container-fluid">
		<div class="grid">
			{% for card in cards %}
				<article class="card">
					<header>
						<img src="assets/images/{{ card.image }}">
					</header>
					<h3>{{ card.title }}</h3>
					<div class="label">
						<h4>{{ card.price }}</h4>
						<p class="text">{{ card.description }}</p>
					</div>
					<a href="/travel/show?id={{ card.id }}" role="button">En savoir plus</a>
				</article>
			{% endfor %}
		</div>
	</section>
{% endblock %}
