{% extends 'layout.html.twig' %}

{% block stylesheet %}
	{{ parent() }}
	<link rel="stylesheet" href="assets/css/cards.css">
{% endblock %}

{% block content %}
	<section class="container-fluid">
		<div class="grid">
			{% for card in cards %}
				<article class="card">
					<header>
						<img src="assets/images/{{ card.image }}">
					</header>
					<div class="label">
						<h3>{{ card.title }}</h3>
						<span>{{ card.price }}</span>
						<p class="text">{{ card.description }}</p>
					</div>
				</article>
			{% endfor %}
		</div>
	</section>
{% endblock %}
