{% extends 'layout.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/show.css">
{% endblock %}

{% block content %}
	<header>
	<img class ="logo" src="/assets/images/final_destination_1_logo2.png">
</header>
<main class="container">
	<div class="background">
	<a href="/" role="button" class="return">Page d'accueil</a>
		<div class="headerTravel">
			<h1>{{ travel.title }}</h1>
			<p>{{ travel.description }}</p>
			<div class="gridtravel">
				<img src="/assets/images/{{ travel.image }}" alt="">
				<div class="price">
					<h2>
						<span>à partir de :</span><br/><span>{{ travel.price }}</span><br/>par personne</h2>
				</div>
			</div>
			<h3>Venez visiter ce magnifique pays qu'est le/la/l'{{ travel.country }}</h3>
		</div>
		<div class="mainTravel">
			<div class="textTravel">
				<h4>Présentation</h4>
				<p>{{ travel.presentation }}</p>
			</div>
			<div class="textTravel">
				<h4>On testé et adoré</h4>
				<ul>
					<li>La vue magnifique sur le Mont Teide depuis l'hôtel</li>
					<li>La proximité avec de nombreux points d'intérêt de l'île</li>
					<li>La cadre luxuriant des jardins tropicaux entourant l'hôtel</li>
				</ul>
			</div>
			<div class="textTravel">
				<h4>Situation</h4>
				<p>{{ travel.situation }}</p>
			</div>
			<div class="textTravel">
				<h4>Votre hébergement</h4>
				<p>{{ travel.location }}</p>
			</div>
			<div class="textTravel">
				<h4>Restauration</h4>
				<p>Bienvenue dans l'univers savoureux de la gastronomie locale et de notre restaurant. Plongez dans une expérience culinaire inoubliable, où les saveurs s'entremêlent pour créer des délices pour les papilles. Notre restaurant est un véritable joyau pour les amateurs de gastronomie. Dès que vous franchissez la porte, vous êtes transporté dans un monde de sensations gustatives. L'atmosphère chaleureuse et accueillante vous met à l'aise, prêt à savourer chaque bouchée. Notre chef talentueux s'inspire des produits locaux et de saison pour créer des plats uniques qui capturent l'essence même de notre région. Chaque assiette est une œuvre d'art culinaire, harmonisant les textures, les couleurs et les saveurs pour émerveiller vos sens. De l'entrée au dessert, vous serez séduit par la diversité des plats. Imaginez déguster une salade fraîche garnie de légumes cultivés localement, accompagnée d'une vinaigrette maison qui sublime chaque ingrédient. Puis, laissez-vous tenter par un plat principal exquis, mettant en valeur des viandes tendres et juteuses, ou des fruits de mer délicats. Les accompagnements ne sont pas en reste. Des pommes de terre rôties, des légumes grillés ou des purées crémeuses viendront compléter votre plat principal avec une touche de perfection. Et n'oublions pas les délicieux desserts, des créations sucrées qui réjouiront votre palais, des pâtisseries légères aux douceurs chocolatées irrésistibles. Notre restaurant ne se contente pas de servir des plats exceptionnels, il offre également une expérience gastronomique complète. Le service attentif et amical de notre équipe rendra votre expérience encore plus agréable, vous guidant à travers le menu et vous proposant des accords mets-vins pour sublimer chaque plat. Que vous soyez un gastronome passionné ou un curieux à la recherche de nouvelles expériences culinaires, notre restaurant est l'endroit idéal pour satisfaire vos papilles et vous laisser des souvenirs gustatifs inoubliables. Découvrez la magie de notre cuisine locale et laissez-vous emporter par la symphonie des saveurs qui vous attendent.</p>
			</div>
		</div>
	</div>
</main>
{% include 'Components/_footer.html.twig' %}
{% endblock %}
